.stat-title {
  text-align: center;
  font-size: 1.5rem;
  color: rgb(85, 85, 85);
}

.graph-container {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.stat-container {
  margin-top: 20px;
  font-size: 0.85rem;
}