<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <canvas id="txChart"></canvas>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6">
      <canvas id="miningChart"></canvas>
    </div>
  </div>
</div>
