<div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <button type="button" class="btn btn-secondary btn-lg" drab-click="toggle_simulation">Get random trading partner</button>
    </div>
  </div>
</div>
